.title{
    text-align: center;
    font-family: verdana ;
}

.options{
    background-color: rgb(223, 204, 135);
    box-sizing: border-box;
    height: 300px;
    width: 200px;
    margin: auto;
}

.recipe{
    margin-bottom: 10px;
}